<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PetSuite">
<listeners>
	<listener class-name="com.api.utilities.ExtentReportManager" />
</listeners>
  <test thread-count="5" name="UserTest">
    <classes>
      <!--class name="com.api.tests.DDTests"/-->
      <class name="com.api.tests.UserTests"/>
    </classes>
  </test> <!-- UserTest -->
</suite> <!-- PetSuite -->
 